{% extends 'base.html.twig' %}

{% block title %}Album Search{% endblock %}
{% block navbarTitle %}Music Showcase{% endblock %}

{% block jumbotron %}
  <section class="jumbotron text-center">
    <div class="container">
      {% block jumbotronContent %}
        <h1 class="jumbotron-heading">Album Search</h1>
        <p class="lead text-muted">Search for any Album by name or by Artist.</p>
        <div id="album-search-form-container"></div>
      {% endblock %}
    </div>
  </section>
{% endblock %}

{% block mainContent %}
  <h3 class="section-title">Top Albums</h3>

  <div id="album-tiles"></div>
{% endblock %}
