{% extends 'base.html.twig' %}

{% block title %}Artist{% endblock %}
{% block navbarTitle %}Music Showcase{% endblock %}

{% block jumbotron %}
  <section class="jumbotron text-center">
    <div class="container">
      {% block jumbotronContent %}
        <h1 class="jumbotron-heading">--Artist Title--</h1>
        <p class="lead text-muted">--Artist Info--</p>
      {% endblock %}
    </div>
  </section>
{% endblock %}

{% block mainContent %}
  --List Some Albums--
  <div class="row">
    {{ include('artist/album_snapshot.html.twig', { 'album': album }) }}
    {{ include('artist/album_snapshot.html.twig', { 'album': album }) }}
    {{ include('artist/album_snapshot.html.twig', { 'album': album }) }}
  </div>
{% endblock %}
