<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Music Showcase{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
      
      <header>
        <div class="collapse bg-dark" id="navbarHeader">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-md-7 py-4">
                {% block navbarDetails %}
                  <h4 class="text-white">About</h4>
                  <p class="text-muted">
                    This site serves as a sort of portfolio showing various technologies that I've utilized. 
                    This is a functional site utilizing the Open Music Encyclopedia Database <a href="https://musicbrainz.org/">https://musicbrainz.org/</a>. 
                    Built using Symfony PHP Framework, Bootstrap, PostgreSQL, Docker, and AWS. Find it on <a href="https://github.com/Twenty7/showcase">GitHub</a>.
                  </p>
                {% endblock %}
              </div>
              <div class="col-sm-4 offset-md-1 py-4">
                {% block navbarLinks %}
                  <h4 class="text-white">Contact</h4>
                  <ul class="list-unstyled contact-links">
                    <li><a href="https://twitter.com/IAmEvilHomer"><i class="fab fa-twitter"></i> Follow on Twitter</a></li>
                    <li><a href="https://www.linkedin.com/in/mtaylor-twenty7"><i class="fab fa-linkedin-in"></i> Connect on LinkedIn</a></li>
                    <li><a href="https://github.com/Twenty7"><i class="fab fa-github"></i> Collaborate on GitHub</a></li>
                    <li><a href="mailto:mtaylor+showcase@eight9.net?subject=I%20Found%20Your%20Showcase%20Site"><i class="fas fa-at"></i> Write an Email</a></li>
                  </ul>
                {% endblock %}
              </div>
            </div>
          </div>
        </div>
        <div class="navbar navbar-dark bg-dark shadow-sm">
          <div class="container d-flex justify-content-between">
            {% block navbarTitleContent %}
              <a href="{{ path('index_index') }}" class="navbar-brand d-flex align-items-center">
                <i class="fas fa-music"></i>
                <strong>{% block navbarTitle %}Music Showcase{% endblock %}</strong>
              </a>
            {% endblock %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </div>
      </header>

      <main role="main">
        {% block jumbotron %}
        {% endblock %}

        {% block mainBlock %}
          <div class="album py-5 bg-light">
            <div class="container">
              {% block mainContent %}
              {% endblock %}
            </div>
          </div>
        {% endblock %}
      </main>
  
      <footer class="text-muted">
        <div class="container">
          <p class="float-right">
            <a href="#">Back to top</a>
          </p>
          {% block footerContent %}
          {% endblock %}
        </div>
      </footer>

      {% block javascripts %}
          {{ encore_entry_script_tags('app') }}
      {% endblock %}
    </body>
</html>
